# enable c++ support
language: cpp
# Ubuntu 14.04 Trusty support
sudo: required
dist: trusty
# Compiler selection
compiler:
    - gcc
    - clang
# python version
python: 2.7

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y python-dev python-tk
    - pip install --upgrade pip
# command to run test
script:
    - pip list
    - python ./String/reverseStr.py
# command to notify owner
notifications:
    email: false

